body {
  font-family: Arial, sans-serif;
  background: #f4f1ea;
  text-align: center;
}

.site-header {
  background: #ecd7cd;
  color: rgb(19, 19, 18);
  padding: 20px;
}

.main-nav {
  margin: 20px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  background: rgb(240, 6, 181);
  border: none;
}

#results {
  width: 70%;
  margin: auto;
  background: rgba(113, 196, 221, 0.836);
  padding: 20px;
}